<%= link_to '<button type="button">January</button>'.html_safe, '/january' %>
<%= link_to '<button type="button">February</button>'.html_safe, '/february' %>
<%= link_to '<button type="button">March</button>'.html_safe, '/march' %>
<%= link_to '<button type="button">April</button>'.html_safe, '/april' %>
<%= link_to '<button type="button">May</button>'.html_safe, '/may' %>
<%= link_to '<button type="button">June</button>'.html_safe, '/june' %>
<%= link_to '<button type="button">July</button>'.html_safe, '/july' %>
<%= link_to '<button type="button">August</button>'.html_safe, '/august' %>
<%= link_to '<button type="button">September</button>'.html_safe, '/september' %>
<%= link_to '<button type="button">October</button>'.html_safe, '/october' %>
<%= link_to '<button type="button">November</button>'.html_safe, '/november' %>
<%= link_to '<button type="button">December</button>'.html_safe, '/december' %>