<nav class="navbar navbar-expand-lg navbar-light nav-style">
</nav>
<section class="Title" style="margin-top:3%;">
	<div>
		<%= link_to image_tag("logo.png", border: 0,  width: 189.25, height: 41.7),
		root_path, {:style=>" margin-top:15%; "} %>
	</div>
</section>
<!--dotted line-->
<section class="dotted-line1" style="margin-bottom:15px;">
	<div>
		<svg x="0px" y="0px" width="70%" height="10" viewBox="0 0 395.9 1">
			<line class="line1" x1="0" y1="0.5" x2="395.9" y2="0.5" />
		</svg>
	</div>
</section>
<!--dotted line-->

<!--clock 오류-->
<section class="calendar">
	<div id="timedate">
		<h1 style="margin-bottom:25px; font-size:15px; font-family: acumin-pro, sans-serif; font-weight:bold;"><%=@content.today%> : <%=@content.created_at.to_date%></h1>
	</div>
</section>
<!--clock-->

<!--receipe-->
<div class="contents1" style="font-family: acumin-pro, sans-serif; font-weight:bold;">
	Today's mood
	<input type="string" value="Today's mood" name="title1" style="display: none;" />
</div>

<!--range bar-->
<div id="slidecontainer1">
	<input
		type="range"
		name="content1"
		min="0"
		max="100"
		value="<%=@content.content1%>"
		class="slider1"
		id="myRange1"
	/>
	<p class="slid" style="font-family: acumin-pro, sans-serif; font-weight:bold;">$<%=@content.content1%></p>
</div>
<!--range bar-->

<div class="contents2" style="font-family: acumin-pro, sans-serif; font-weight:bold;">
	Today's weather
	<input type="string" value="Today's weather" name="title2" style="display: none;" />
</div>

<div id="slidecontainer2">
	<input
		type="range"
		name="content2"
		min="0"
		max="100"
		value="<%=@content.content2%>"
		class="slider2"
		id="myRange2"
	/>
	<p class="slid" style="font-family: acumin-pro, sans-serif; font-weight:bold;">$<%=@content.content2%></p>
</div>
<!--range bar-->

<div class="contents3" style="font-family: acumin-pro, sans-serif; font-weight:bold;">
	Today's task
	<input type="string" value="Today's task" name="title3" style="display: none;" />
</div>

<div id="slidecontainer3">
	<input
		type="range"
		name="content3"
		min="0"
		max="100"
		value="<%=@content.content3%>"
		class="slider3"
		id="myRange3"
	/>
	<p class="slid" style="font-family: acumin-pro, sans-serif; font-weight:bold;">$<%=@content.content3%></p>
</div>
<!--range bar-->
<!--receipe-->

<%if @content.at1.present? || @content.at2.present? || @content.at3.present?%>
<!--dotted line-->
<div>
	<svg x="0px" y="0px" width="70%" height="10" viewBox="0 0 395.9 1">
		<line class="line1" x1="0" y1="0.5" x2="395.9" y2="0.5" />
	</svg>
</div>
	<!--dotted line-->
	<div id="dis" style="margin-top:0;">
		<div id="container" style="position:relative; height:200px; border:none; margin-top:0;  margin-bottom:0;">
			<div style="position:relative; height:20%;">
				<div style="position:absolute; top:-18%; left:27%; font-family: acumin-pro, sans-serif; font-weight:bold; font-size:20px;">
					+Add bonus price
				</div>
			</div>
<%if @content.at1.present? %>
			<div style="position:relative; height:20%; margin-top:2%;">
							<div class="input" style="margin:0; width:40%; position:absolute; bottom:0%; left:7%; font-size:15px; acumin-pro, sans-serif; font-weight:normal;">
				<%=@content.at1%>
			</div>
			<div style="margin:0; width:40%; position:absolute; bottom:0%; right:3%; font-size:15px; acumin-pro, sans-serif; font-weight:normal;">
				$<%=@content.ac1%>
			</div>
			</div>
<%else%>
			<%nil%>
<%end%>
<%if @content.at2.present? %>
			<div style="position:relative; height:20%;">
							<div class="input" style="margin:0; width:40%; position:absolute; bottom:0%; left:7%; font-size:15px; acumin-pro, sans-serif; font-weight:normal;">
				<%=@content.at2%>
			</div>
			<div style="margin:0; width:40%; position:absolute; bottom:0%; right:3%; font-size:15px; acumin-pro, sans-serif; font-weight:normal;">
				$<%=@content.ac2%>
			</div>
			</div>
<%else%>
			<%nil%>
<%end%>
			<!--range bar-->
<%if @content.at3.present? %>
			<div style="position:relative; height:20%;">
							<div class="input" style="margin:0; width:40%; position:absolute; bottom:0%; left:7%; font-size:15px; acumin-pro, sans-serif; font-weight:normal;">
				<%=@content.at3%>
			</div>
			<div style="margin:0; width:40%; position:absolute; bottom:0%; right:3%; font-size:15px; acumin-pro, sans-serif; font-weight:normal;">
				$<%=@content.ac3%>
			</div>
			</div>
<%else%>
			<%nil%>
<%end%>
			<!--range bar-->
		</div>
	</div>
	<!--add-->
<%else%>
			<%nil%>
<%end%>
<!--dotted line-->
<div>
	<svg x="0px" y="0px" width="70%" height="10" viewBox="0 0 395.9 1">
		<line class="line1" x1="0" y1="0.5" x2="395.9" y2="0.5" />
	</svg>
</div>
<!--dotted line-->

<div class="memo" style="font-family: acumin-pro, sans-serif; font-weight:bold;">
	<p>
		memo
	</p>
	<div class="message">
		<label for="message"></label>
		<textarea
			style="border: none; font-family: acumin-pro, sans-serif; "
			name="memo"
			placeholder="Write your day"
			id="message_input"
			cols="30"
			rows="5"
			required
		>
<%=@content.memo%></textarea
		>
	</div>
</div>
<div>
	<img
		style="float: left; width: 100px; margin-left: 10%;"
		src="/assets/barcode-205f91ec4a098ebde99ad725ccfdb3d24fe8be7f449d09b6baa515bc4fc5513a.jpg"
	/>
</div>
<div class="totalvalue">
	Total : $<%= @content.content1 + @content.content2 + @content.content3 + @content.ac1 +
	@content.ac2 + @content.ac3 %>
</div>

<div class="box">
		<%=	button_to 'EDIT', edit_content_path(@content), :method => :get, style: "float: left; margin-left: 30%;" %>
		<%=	button_to 'DELETE', content_path(@content), method: :delete,
		data: {confirm: 'Are you sure?'}, style: "float: right; margin-right: 30%;" %>
</div>
